@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Jost", sans-serif;
  color: #000000;
  scroll-behavior: smooth;
}
